{% extends 'appBase.html' %}
{% block title %}Learn{% endblock %}


{% block content %}
   <div class = 'card custom-card'>
       <div class = 'card-body'>
           <h1 class = 'custom-card-header'>A1: Foundational</h1>
       </div>
   </div>

    <div class = 'container lesson-container'>
        <form action = ' {{ url_for("routes.learn") }}' method = 'POST'>
                <!-- each lesson-container will need to be its own form, since lesson links should be different -->
            <button type = 'submit' class = 'lesson-button'>
                <div class = 'pencil-icon'></div>
            </button>
            <p class = 'lesson-text'>Personal Pronouns</p>
        </form>
    </div>

    <div class = 'row'>

        <div class = 'col-md-3'>
            <div class = 'container lesson-container'>
                <form action = ' {{url_for("routes.learn") }}' method = 'POST'>
                    <button class = 'lesson-button'>
                        <div class = 'pencil-icon'></div>
                    </button>
                    <p class = 'lesson-text'>Greetings</p>
                </form>
            </div>
        </div>

        <div class = 'col-md-6'>
            <!-- just adding this here so I don't need extra css to space out the buttons lol -->
        </div>

        <div class = 'col-md-3'>
            <div class = 'container lesson-container'>
                <form action = ' {{url_for("routes.learn") }}' method = 'POST'>
                    <button class = 'lesson-button'>
                        <div class = 'pencil-icon'></div>
                    </button>
                    <p class = 'lesson-text'>Introduction to Verbs</p>
                </form>
            </div>
        </div>

        <div class = 'container lesson-container'>
            <form action = ' {{url_for("routes.learn") }}' method = 'POST'>
                <button class = 'lesson-button'>
                    <div class = 'pencil-icon'></div>
                </button>
                <p class = 'lesson-text'>More Verbs</p>
            </form>
        </div>

   </div>
{% endblock %}