{% extends 'base.html' %}
{% block title %}Reset password{% endblock %}


{% block content %}
<form method = 'POST' action = "{{ url_for('routes.resetPassword', token = token) }}">
   
   <h1>Reset Password</h1>
   <div class = 'form-group'>
       <!-- boostrap class -->
       <input type = 'password' id = 'password' name = 'password' placeholder = 'Password'>
       <br>
       <input type = 'password' id = 'confirmPassword' name = 'confirmPassword' placeholder = 'Confirm Password'>
       <br>
       <button type = 'submit'><b>Reset Password</b></button>
   </div>


</form>
{% endblock %}